@import "tailwindcss";
.container {
  @apply mx-auto px-4;
}
.top-bar a{
  @apply underline font-semibold;
}
.title{
  @apply text-[20px] capitalize font-bold my-2;
}
.rating i{
  @apply text-[#FFC633];
}
.price {
  @apply text-[24px] font-bold;
}