<div class="{{ section.id }} color-{{ section.settings_schema.color_scheme }}gradient">
    <h1>Hello</h1>
</div>

{% schema %}
    {
        "name": "Custom Banner",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Section Color"
            }
        ],
        "blocks": [],
        "presets": [
            {
                "name": "Custom Banner"
            }
        ]
    }
{% endschema %}