<div>
    <h1>Hello</h1>
</div>

{% schema %}
    {
        "name": "Custom Banner",
        "settings": [],
        "blocks": [],
        "presets": [
            {
                "name": "Custom Banner"
            }
        ]
    }
{% endschema %}