@font-face {
    font-family: 'Integral CF';
    src: url('IntegralCF-Bold.woff2') format('woff2'),
        url('IntegralCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Bold.woff2') format('woff2'),
        url('Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Regular.woff2') format('woff2'),
        url('Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Satoshi', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Integral CF', sans-serif;
    font-weight: 700;
}
button.slick-prev.slick-arrow {
    position: absolute;
    top: -80px;
    right: 50px;
    cursor: pointer
}
button.slick-next.slick-arrow {
    position: absolute;
    top: -80px;
    right: 10px;
    cursor: pointer
}
