<div class="">
	<div class="container">
		<div class="border-t border-[#E5E5E5] pt-10 pb-20">
			<div class="flex items-center">
				<a href="{{ request.url }}" class="text-[#909090]"></a>
				<i class="fa-solid fa-angle-right mr-2 text-[#909090]"></i>
				<span>{{ product.title }}</span>
			</div>
			<h2 class="text-5xl mb-6">{{ product.title }}</h2>
			<div class="">
				{{ product.content }}
			</div>
		</div>
	</div>
</div>
